$azul-normal: #142638;
$azul-dark: #040f1a;
$azul-light: #032749;

$dourado-normal: #fee84d 0%;
$dourado-dark: #c27e2b;
$dourado-light: #e9e176 100%;

$preto-normal: #222224;
$preto-dark: #161617;
$preto-light: #343436;

$branco-normal: #FFF;
$branco-dark: #edeaef;
$branco-light: #fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040; 